body{
    height: 100vh;
    background-color: #000000;
    color: white;
    font-family:  monospace;
}

h3{
    font-size: 4rem;    
    background-color: rgb(226, 226, 226);
    color:black;
    width: fit-content;
    padding: 2rem 4rem;
    margin-left:1rem;
    border-radius: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button{
    margin: 1rem;
    padding: 1rem ;
    font-size: 1.2rem;
    background-color: rgb(219, 199, 199);
    color: #343131;
    font-family: Helvetica Neue;
}