button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #84b0de;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body{
    height: 100vh;
    background-color: #000000;
    color: white;
    font-family: JetBrains Mono, monospace;
}